* {
    font-family: 'Courier New', Courier, monospace;
}

.btn_edt {
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    color: rgb(0, 0, 0);
    border: none;


}

.btn_dlt {
    background-color: white;
    margin-right: 10px;
    border: none;
    color: rgb(0, 0, 0);
}


.button {
    margin-top: 10px;
    border: none;
    background-color: crimson;
    color: white;
    padding: 5px;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.main {
    width: 100%;
    margin-top: 50px;
}

.todo {
    margin-left: 300px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 500px;
}

input:focus {
    outline: none;
    border-bottom: 1px solid crimson;
}

.add_btn {
    margin-left: 635px;
    padding: 10px;
}

.delete_all {
    margin-left: 400px;
    background-color: crimson;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.delete_all:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.7s;
}

td {
    width: 30px;
    background-color: aqua;
    text-align: start;
    border-bottom: 1px solid crimson;
}

table {
    text-align: center;

}

